@import "variables";

input,
select,
textarea {
  &.text {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 32px;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    background-color: $box-bgc;
  }

  &.textarea {
    resize: none;
    height: 160px;
  }

  &.button {
    position: fixed;
    left: $padding-lr;
    right: $padding-lr;
    bottom: 24px;
  }
}
