@import "variables";

.title_group {
  display: flex;
  justify-content: space-between;
  word-wrap: break-word;

  img {
    vertical-align: middle;
    width: 24px;
    margin-right: 12px;
  }
}

.eye_catch {
  margin-bottom: 20px;
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.task_content {
  background-color: $box-bgc;
  min-height: 40px;
  word-wrap: break-word;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.comment {
  .comment_title {
    font-weight: normal;
    margin-bottom: 20px;
  }

  .comment_detail {
    display: flex;
    flex-direction: column;
    width: 100%;

    .each_comment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;

      img {
        vertical-align: middle;
        width: 36px;
        height: 36px;
        margin-right: 12px;
        border-radius: 100%;
      }

      p {
        width: 85%;
        word-break: break-word;
      }
    }
  }
  .add-button {
    padding: 16px 0;
  }
}
